*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
vinzdez-release-key.keystore
debug.keystore
app/.idea/workspace.xml
app/.idea/libraries/MaterialShowcaseView_1_1_0.xml
